<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding...</title>
</head>
<body>
    <form method = "post" action="/save">
        <label for="bname">Book Name</label>
        <input type="text" id="bname" name="bname"><br><br>
        <label for="description">Description</label>
        <input type="text" id="description" name="description"><br><br>
        <button type="submit" class="btn btn-primary">Save Book</button> 
 
      </form>
    
</body>
</html>